<article class="template animated slideInRight">
  <h4>All Employees</h4>

  <!-- <filter-text (changed)="filterChanged($event)"></filter-text> -->

  <ul class="employees">
    <li *ngFor="let employee of filteredEmployees$ | async ">

      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{employee.id}}.
{{employee.name}}</h2>
        </div>
        <div class="mdl-card__menu">
         <button class="edit-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" [routerLink]="['Course', {id: employee.id}]">
            <i class="material-icons">edit</i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</article>